<table mat-table [dataSource]="devices" style="width: 100%;">
  <ng-container matColumnDef="employeeName">
    <th mat-header-cell *matHeaderCellDef> Сотрудник</th>
    <td mat-cell *matCellDef="let device"> {{device.employee.name}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Название</th>
    <td mat-cell *matCellDef="let device"> {{device.name}} </td>
  </ng-container>
  <ng-container matColumnDef="invNumber">
    <th mat-header-cell *matHeaderCellDef> Инв. Номер</th>
    <td mat-cell *matCellDef="let device"> {{device.invNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Тип</th>
    <td mat-cell *matCellDef="let device"> {{deviceService.getType(device.typeId)|async}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let employee" style="width: 1rem">
      <div fxLayout="row">
        <button mat-icon-button (click)="onOpen.emit(employee.id)">
          <mat-icon>open_in_browser</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete.emit(employee.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
