.marker {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
}

.offline {
  background: dimgray;
}

.online {
  background: #00c852;
  box-shadow: 0 0 0 rgba(0, 255, 3, 0.86);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}


table {
  width: 100%;
  transition: all .5s linear;
}
