<div style="width: 100%">
  <table mat-table [dataSource]="deviceActions" style="width: 100%" *ngIf="deviceActions.length > 0; else emptyBlock" >
    <ng-container matColumnDef="deviceName">
      <th mat-header-cell *matHeaderCellDef> Устройство</th>
      <td mat-cell *matCellDef="let action"> {{action.deviceName}} </td>
    </ng-container>

    <ng-container matColumnDef="receiptDate">
      <th mat-header-cell *matHeaderCellDef> Дата сдачи</th>
      <td mat-cell *matCellDef="let action"> {{action.receiptDate}} </td>
    </ng-container>

    <ng-container matColumnDef="returnDate">
      <th mat-header-cell *matHeaderCellDef> Дата возврата</th>
      <td mat-cell *matCellDef="let action"> {{action.returnDate}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Тип</th>
      <td mat-cell *matCellDef="let action"> {{(deviceActionTypeService.get(action.typeId)| async).name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let action" style="width: 1rem">
        <div fxLayout="row">
          <button mat-icon-button (click)="onDelete.emit(action.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <ng-template #emptyBlock>
    <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%; height: 2.5rem">
      <span>Нет записей</span>
    </div>
  </ng-template>
</div>
